@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

:root {
  --primary: #49eaff;
  --dark-primary: #06101a;
  --secondary-bg: rgba(44, 43, 43, 0.45);
  --font-primary: 'Alice', sans-serif;
  --amr-darkgreen: #093834;
  --amr-lime: #66d37e;
  --amr-black: #121212;
  --amr-gray: #54565a;
  --amr-white: #ffffff;

  --amr-font: 'Titillium Web', sans-serif;


  --font-size-heading: 48px;
  --font-size-heading-2: 30px;
  --font-size-body: 20px;
  --line-height-body: 1.6;
  --line-height-heading: 1.2;
  --line-height-heading-2: 1.4;

  --color-text-light: #000000;
  --color-text-dark: #ffffff;
}

.amr-font {
  font-family: var(--amr-font);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-text-dark);
  }
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html {
  background: linear-gradient(190deg, #161831, #060c15);
}

body {
  min-height: 100%;
  padding-top: 64px;
  overflow-x: hidden;
  overflow-y: auto;
}

p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  color: var(--color-text-dark);
}

h1 {
  font-size: var(--font-size-heading);
  line-height: var(--line-height-heading);
  color: var(--color-text-dark);
  font-weight: bold;
}

h2 {
  font-size: var(--font-size-heading-2);
  line-height: var(--line-height-heading-2);
  color: var(--color-text-dark);
}